<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.product.mapper.ProductMapper">
    
    <resultMap type="Product" id="ProductResult">
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productType"    column="product_type"    />
        <result property="specification"    column="specification"    />
        <result property="unit"    column="unit"    />
        <result property="referencePrice"    column="reference_price"    />
        <result property="safetyStock"    column="safety_stock"    />
        <result property="productImage"    column="product_image"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="currentStock" column="current_stock"/>
    </resultMap>

    <sql id="selectProductVo">
        select product_id, product_name, product_type, specification, unit, reference_price, safety_stock, product_image, status, create_by, create_time, update_by, update_time from product
    </sql>

    <select id="selectProductList" parameterType="Product" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productType != null  and productType != ''"> and product_type like concat('%', #{productType}, '%')</if>
            <if test="params.beginReferencePrice != null and params.beginReferencePrice != '' and params.endReferencePrice != null and params.endReferencePrice != ''"> and reference_price between #{params.beginReferencePrice} and #{params.endReferencePrice}</if>
        </where>
    </select>
    
<!--    <select id="selectProductByProductId" parameterType="Long" resultMap="ProductResult">-->
<!--&lt;!&ndash;        <include refid="selectProductVo"/>&ndash;&gt;-->
<!--        select product_id, product_name, product_type, specification, unit, reference_price, safety_stock, product_image, status, create_by, create_time, update_by, update_time from product-->
<!--        where product_id = #{productId}-->
<!--    </select>-->


    <select id="selectProductByProductId" parameterType="Long" resultMap="ProductResult">
        select
            p.product_id,
            p.product_name,
            p.product_type,
            p.specification,
            p.unit,
            p.reference_price,
            p.safety_stock,
            p.product_image,
            p.status,
            p.create_by,
            p.create_time,
            p.update_by,
            p.update_time,
            pi.current_stock
        from product p
                 left join product_inventory pi on p.product_id = pi.product_id
        where p.product_id = #{productId}
    </select>
    <select id="selectProductByProductName" resultMap="ProductResult">
        <include refid="selectProductVo"/>
        where product_name = #{productName}
    </select>
    <insert id="insertProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="productId">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="productType != null and productType != ''">product_type,</if>
            <if test="specification != null">specification,</if>
            <if test="unit != null and unit != ''">unit,</if>
            <if test="referencePrice != null">reference_price,</if>
            <if test="safetyStock != null">safety_stock,</if>
            <if test="productImage != null">product_image,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="productType != null and productType != ''">#{productType},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="referencePrice != null">#{referencePrice},</if>
            <if test="safetyStock != null">#{safetyStock},</if>
            <if test="productImage != null">#{productImage},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProduct" parameterType="Product">
        update product
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="productType != null and productType != ''">product_type = #{productType},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="referencePrice != null">reference_price = #{referencePrice},</if>
            <if test="safetyStock != null">safety_stock = #{safetyStock},</if>
            <if test="productImage != null">product_image = #{productImage},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteProductByProductId" parameterType="Long">
        delete from product where product_id = #{productId}
    </delete>

    <delete id="deleteProductByProductIds" parameterType="String">
        delete from product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>