<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.item.mapper.OrderItemMapper">
    
    <resultMap type="OrderItem" id="OrderItemResult">
        <result property="itemId"    column="item_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productType"    column="product_type"    />
        <result property="productImage"    column="product_image"    />
        <result property="specification"    column="specification"    />
        <result property="unit"    column="unit"    />
        <result property="quantity"    column="quantity"    />
        <result property="estimatedPrice"    column="estimated_price"    />
        <result property="subtotalPrice"    column="subtotal_price"    />
        <result property="stockStatus"    column="stock_status"    />
        <result property="productNotes"    column="product_notes"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderItemVo">
        select item_id, order_id, order_no, product_id, product_name, product_type, product_image, specification, unit, quantity, estimated_price, subtotal_price, stock_status, product_notes, create_time, update_time from order_item
    </sql>

    <select id="selectOrderItemList" parameterType="OrderItem" resultMap="OrderItemResult">
        select oi.item_id, oi.order_id, oi.order_no, oi.product_id, oi.product_name,
            oi.product_type, oi.product_image, oi.specification, oi.unit, oi.quantity,
            oi.estimated_price, oi.subtotal_price, oi.stock_status, oi.product_notes,
            oi.create_time, oi.update_time, po.order_status
        from order_item oi
        left join purchase_order po on oi.order_id = po.order_id

        <where>  
            <if test="orderNo != null  and orderNo != ''"> and oi.order_no = #{orderNo}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="stockStatus != null "> and stock_status = #{stockStatus}</if>
        </where>
        ORDER BY po.order_status
    </select>
    
    <select id="selectOrderItemByItemId" parameterType="Long" resultMap="OrderItemResult">
        <include refid="selectOrderItemVo"/>
        where item_id = #{itemId}
    </select>

    <insert id="insertOrderItem" parameterType="OrderItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into order_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="productId != null">product_id,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="productType != null">product_type,</if>
            <if test="productImage != null">product_image,</if>
            <if test="specification != null">specification,</if>
            <if test="unit != null">unit,</if>
            <if test="quantity != null">quantity,</if>
            <if test="estimatedPrice != null">estimated_price,</if>
            <if test="subtotalPrice != null">subtotal_price,</if>
            <if test="stockStatus != null">stock_status,</if>
            <if test="productNotes != null">product_notes,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="productType != null">#{productType},</if>
            <if test="productImage != null">#{productImage},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unit != null">#{unit},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="estimatedPrice != null">#{estimatedPrice},</if>
            <if test="subtotalPrice != null">#{subtotalPrice},</if>
            <if test="stockStatus != null">#{stockStatus},</if>
            <if test="productNotes != null">#{productNotes},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrderItem" parameterType="OrderItem">
        update order_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="productType != null">product_type = #{productType},</if>
            <if test="productImage != null">product_image = #{productImage},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="estimatedPrice != null">estimated_price = #{estimatedPrice},</if>
            <if test="subtotalPrice != null">subtotal_price = #{subtotalPrice},</if>
            <if test="stockStatus != null">stock_status = #{stockStatus},</if>
            <if test="productNotes != null">product_notes = #{productNotes},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteOrderItemByItemId" parameterType="Long">
        delete from order_item where item_id = #{itemId}
    </delete>

    <delete id="deleteOrderItemByItemIds" parameterType="String">
        delete from order_item where item_id in 
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>
</mapper>