<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.office.order.mapper.PurchaseOrderMapper">
    
    <resultMap type="PurchaseOrder" id="PurchaseOrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="buyerId"    column="buyer_id"    />
        <result property="buyerName"    column="buyer_name"    />
        <result property="departmentId"    column="department_id"    />
        <result property="departmentName"    column="department_name"    />
        <result property="deliveryAddressId"    column="delivery_address_id"    />
        <result property="totalQuantity"    column="total_quantity"    />
        <result property="subtotalAmount"    column="subtotal_amount"    />
        <result property="otherFee"    column="other_fee"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="approverId"    column="approver_id"    />
        <result property="approverName"    column="approver_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPurchaseOrderVo">
        select order_id, order_no, buyer_id, buyer_name, department_id, department_name, delivery_address_id, total_quantity, subtotal_amount, other_fee, total_amount, order_status, approver_id, approver_name, create_time, update_time from purchase_order
    </sql>

    <select id="selectPurchaseOrderList" parameterType="PurchaseOrder" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
        <where>  
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="buyerId != null "> and buyer_id = #{buyerId}</if>
            <if test="departmentName != null  and departmentName != ''"> and department_name like concat('%', #{departmentName}, '%')</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
        </where>
    </select>
    
    <select id="selectPurchaseOrderByOrderId" parameterType="Long" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
        where order_id = #{orderId}
    </select>

    <!--  根据订单编号查询订单详情  -->
    <select id="getOrderInfoByOrderNo" resultMap="PurchaseOrderResult">
        <include refid="selectPurchaseOrderVo"/>
          where order_no = #{orderNo}

    </select>

    <insert id="insertPurchaseOrder" parameterType="PurchaseOrder" useGeneratedKeys="true" keyProperty="orderId">
        insert into purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="buyerId != null">buyer_id,</if>
            <if test="buyerName != null">buyer_name,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="departmentName != null">department_name,</if>
            <if test="deliveryAddressId != null">delivery_address_id,</if>
            <if test="totalQuantity != null">total_quantity,</if>
            <if test="subtotalAmount != null">subtotal_amount,</if>
            <if test="otherFee != null">other_fee,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="approverName != null">approver_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="buyerId != null">#{buyerId},</if>
            <if test="buyerName != null">#{buyerName},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="departmentName != null">#{departmentName},</if>
            <if test="deliveryAddressId != null">#{deliveryAddressId},</if>
            <if test="totalQuantity != null">#{totalQuantity},</if>
            <if test="subtotalAmount != null">#{subtotalAmount},</if>
            <if test="otherFee != null">#{otherFee},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="approverName != null">#{approverName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePurchaseOrder" parameterType="PurchaseOrder">
        update purchase_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="buyerId != null">buyer_id = #{buyerId},</if>
            <if test="buyerName != null">buyer_name = #{buyerName},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="departmentName != null">department_name = #{departmentName},</if>
            <if test="deliveryAddressId != null">delivery_address_id = #{deliveryAddressId},</if>
            <if test="totalQuantity != null">total_quantity = #{totalQuantity},</if>
            <if test="subtotalAmount != null">subtotal_amount = #{subtotalAmount},</if>
            <if test="otherFee != null">other_fee = #{otherFee},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approverName != null">approver_name = #{approverName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deletePurchaseOrderByOrderId" parameterType="Long">
        delete from purchase_order where order_id = #{orderId}
    </delete>

    <delete id="deletePurchaseOrderByOrderIds" parameterType="String">
        delete from purchase_order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>